{% extends 'base.html.twig' %}

{% block title %}Archipel Contact{% endblock %}

{% block body %}

{# section 1 - presentation #}
<section class="home-presentation">

    <p>Nous sommes avant tout des amoureux de l’Indonésie, de sa culture, de sa nature et de ses valeurs. Nous respectons et valorisons les différentes communautés indonésiennes, leurs temps de prière et leurs coutumes. Notre désir premier est de faire découvrir cette richesse culturelle à vos clients
    </p>
    
    <p>
    Chaque fois que cela sera possible, nous mettrons en contact les clients et les habitants. En indonésien, « client » se dit « tamu » et signifie aussi « invité » : la tradition d’accueil des Indonésiens et la disponibilité de notre équipe sur place permet de faire d’un voyage, une aventure unique et inoubliable.   
    </p>

</section>

{# section 2 - destinations #}
<section class='home-destinations'>

    <h2>Nos destinations</h2>

    <div class='home-destinations--blocks'>

        <a href="#">
            <div class='home-destinations--bali'>
                <h3>Bali</h3>
                <div class="divider"></div>
                <h4>L'île des Dieux</h4>
            </div>
        </a>
        <div class='home-destinations--java'>
            <h3>Java</h3>
            <div class="divider"></div>
            <h4>Terre des volcans</h4>
        </div>
        <div class='home-destinations--lombok'>
            <h3>Lombok</h3>
            <div class="divider"></div>
            <h4>Entre rizières et sables</h4>
        </div>
        <div class='home-destinations--sulawesi'>
            <h3>Sulawesi</h3>
            <div class="divider"></div>
            <h4>Entre tribus et plages de rêves</h4>
        </div>

 

        <div class='home-destinations--komodoflores'>
            <h3>Komodo Flores</h3>
            <div class="divider"></div>
            <h4>Paradis authentiques</h4>
        </div>
        <div class='home-destinations--sumba'>
            <h3>Sumba</h3>
            <div class="divider"></div>
            <h4>La Mystérieuse</h4>
        </div>
        <div class='home-destinations--sumatra'>
            <h3>Sumatra</h3>
            <div class="divider"></div>
            <h4>Entre jungle et tribus</h4>
        </div>
        <div class='home-destinations--kalimantan'>
            <h3>Kalimantan</h3>
            <div class="divider"></div>
            <h4>La Sauvage</h4>
        </div>

    </div>

</section>

{# section 3 - our mission #}
<section>
    <h2>Notre mission</h2>
</section>

{# section 4 - reviews #}
<section>
    <h2>Ils nous ont fait confiance</h2>
</section>

{% endblock %}
