{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<section class="home-presentation">

    <p>Nous sommes avant tout des amoureux de l’Indonésie, de sa culture, de sa nature et de ses valeurs. Nous respectons et valorisons les différentes communautés indonésiennes, leurs temps de prière et leurs coutumes. Notre désir premier est de faire découvrir cette richesse culturelle à vos clients
    </p>
    
    <p>
    Chaque fois que cela sera possible, nous mettrons en contact les clients et les habitants. En indonésien, « client » se dit « tamu » et signifie aussi « invité » : la tradition d’accueil des Indonésiens et la disponibilité de notre équipe sur place permet de faire d’un voyage, une aventure unique et inoubliable.   
    </p>

</section>

<section class='home-destinations'>

    <h2>Nos destinations</h2>

    <div class='home-destinations--blocks'>

        <div class='home-destinations--bali'>
            <h3>Bali</h3>
            <h4>L'île des Dieux</h4>
        </div>
        <div class='home-destinations--java'>
            <h3>Java</h3>
            <h4>Terre des volcans</h4>
        </div>
        <div class='home-destinations--lombok'>
            <h3>Lombok</h3>
            <h4>Entre rizières et sables</h4>
        </div>
        <div class='home-destinations--sulawesi'>
            <h3>Sulawesi</h3>
            <h4>Entre tribus et plages de rêves</h4>
        </div>
    
    
    </div>

</section>


</div>
{% endblock %}
