{% extends 'base.html.twig' %}

{% block title %}Tour{% endblock %}

{% block body %}

    <h1>Circuits</h1>

    {{ dump(tours) }}

    {% for tour in tours %}
        <a href="{{ path('show_tour', {id: tour.id}) }}"><li>{{ tour.title }}</li></a>
    {% endfor %}

{% endblock %}