{% extends 'base.html.twig' %}

{% block title %}Informations Pratiques{% endblock %}

{% block body %}

<div id="information" class="wrapper">

    <h2>Informations pratiques</h2>
    <p>Toutes les informations nécessaires pour préparer votre voyage en Indonésie</p>

    <main>
    <div class="content">
        {# ------- information website about the Smooth Scrolling Sticky ScrollSpy Navigation -------  #}
        {# <p><em>Want an explanation of how this works?<br />&rarr; <a href="https://www.bram.us/2020/01/10/smooth-scrolling-sticky-scrollspy-navigation/" target="_top">https://www.bram.us/2020/01/10/smooth-scrolling-sticky-scrollspy-navigation/</a></em></p> #}

        {# ------- content information page -------  #}
        
        <section id="when">
            <h3>1. Quand se rendre en Indonésie ?</h3>

            <section id="when--climate">
                <h4>Le climat</h4>
                <p>Le climat en Indonésie est tropical et équatorial, il fait chaud et humide toute l’année. Et il est donc divisé en 2 saisons : une saison des pluies et une saison sèche.</p>
                <p>La saison des pluies s’étend de novembre à avril. Même si elles peuvent être abondantes à certains moments, il ne s’agit pas des pluies de type moussons comme en Inde ou en Thaïlande. En Indonésie, il ne pleut que quelques heures, en fin d’après-midi en général.</</p>
                <p>Le climat est donc plus sec et plus frais de mai à octobre, c’est aussi la meilleure période pour s’y rendre. Notre conseil : voyagez au mois de mai ou de juin car les paysages et les rizières sont très verts après la saison des pluies. De plus, la saison haute, qui s’étend de juillet à août, n’a pas encore commencé.</p>
            </section>

            <section id="when--temperatures">
                <h4>Les températures</h4>
                <p>En Indonésie, il fait toujours bon ! Les températures varient peu tout au long de l’année : il fait entre 25 et 30 degrés selon les saisons<p>
                <p>Quant à la mer, sa température tourne généralement autours des 29 degrés, de quoi ravir les baigneurs, surfeurs, plongeurs, et autres amoureux de l’océan !</p>
            </section>
        </section>

        <section id="formalities">
            <h3>2. Quelles sont les formalités pour se rendre en Indonésie ?</h3>
            <section id="formalities--visa">
                <h4>Visa &amp; taxes</h4>
                <p>Pour un séjour de moins de 30 jours, il n’y a plus de visa touriste obligatoire pour de nombreuses nationalités dont les français, belges, suisses, luxembourgeois, canadiens, etc. Les visiteurs doivent impérativement présenter un billet de retour afin de bénéficier de cette disposition, un aller seul ne suffit pas (<a href="https://kemlu.go.id/paris/lc/pages/bebas_visa_/533/etc-menu">source</a>).</p>
                <p>Il n’y a plus non plus de taxes à payer à l’aéroport, elles sont maintenant inclues dans le billet d’avion. </p>
            </section>            
            <section id="formalities--passport">
                <h4>Passeport</h4>
                <p>Le passeport doit quant à lui impérativement être valable 6 mois après la date de retour (donc la date prévue du départ d’Indonésie), il doit également comporter au moins une page vierge pour les tampons.</p>
            </section>
            <section id="formalities--vaccination">
                <h4>Les vaccins</h4>
                <p>Il n’y a pas de vaccins obligatoires pour voyager en Indonési, il est tout de fois conseillé de mettre à jour ceux inclus dans le <a href="https://www.pasteur.fr/fr/centre-medical/vaccination/calendrier-vaccinal" target="_blank">calendrier vaccinal</a>.</p>
                <p>Dans certaines zones rurales, le traitement anti-paludisme peut-être recommandé (consultez le site de l’<a href="https://www.pasteur.fr/fr/centre-medical/preparer-son-voyage/indonesie" target="_blank">Institut Pasteur)</a>.<p> 
            </section>
        </section>

        <section id="danger">
            <h3>3. Est-il dangereux de voyager en Indonésie ?</h3>
            <p>De manière générale : non, l’Indonésie n’est pas un pays dangereux. Les indonésiens sont même connus pour être un peuple accueillants, chaleureux et ouverts.</p>
            <p>Seule la région de l’Est de la Papouasie est déconseillée aux touristes. Pour plus d’informations, consultez le site France Diplomatie. </p>

            <section id="danger--advice">
                <h4>Conseil</h4>
                <p>Inscrivez-vous sur Ariane, sur le site de<a href="https://pastel.diplomatie.gouv.fr/fildariane/dyn/public/login.html" target="_blank">France Diplomatie</a>.</p>
                <p>Au cours de votre voyage, et si la situation du pays le justifie, vous recevrez par e-mail ou SMS des informations et des consignes de sécurité.</p>
            </section>
            <section id="danger--health">
                <h4>Santé</h4>
                <p>Dans les grandes villes et certaines stations touristiques, les infrastructures sanitaires privées sont satisfaisantes, équipées de matériel moderne.</p>
                <p>Par contre, elles restent très chères et il est fortement conseillé aux touristes étrangers de souscrire une assurance médicale avant leur départ. Sans cela, ils devront régler la totalité des frais médicaux avant de pouvoir être soignés.</p>
                <p>Les hôpitaux publics ou les médecins de villages ne sont pas recommandés.</p>
            </section>
        </section>

        <section id="money">
            <h3>4. Quel est le coût de la vie en Indonésie ?</h3>
            <section id="money--currency">
                <h4>Change</h4>
                <p>Consultez le taux de change sur <a href="https://www.xe.com/fr/currencyconverter/convert/?Amount=10000&From=IDR&To=EUR" target="_blank">www.xe.com</a></p>
                <p>La monnaie locale s’appelle la roupie indonésienne, la rupiah.</p>
                <p>Evitez de changer vos devises chez les petits changeurs, leurs calculatrices sont souvent trafiquées. Nous vous recommandons plutôt les sociétés PT Central Kuta ou encore Bali Maspit Jinra AMC.</p>
                <p>Vous trouverez dans les grandes villes, les aéroports et dans les zones touristiques à Bali, des distributeurs d’argent (ATM). En dehors des zones touristiques, prévoyez une petite provision.</p>
                <p>D’une manière générale, si vous payez directement avec une carte VISA, on vous comptera une commission, mais attention, peu de boutiques sont équipées.</p>
            </section>
            <section id="money--bargaining">
                <h4>Le marchandage</h4>
                <p>Dans beaucoup de régions d’Indonésie et à Bali notamment, le marchandage est normal. Il ne faut pas vous sentir gênés, les Balinais eux- mêmes marchandent. Sur les marchés ou dans les petites boutiques, les prix ne sont pas fixes. Soyez tout de même raisonnable, tout le monde doit y trouver son compte.</p>
            </section>
            <section id="money--prices">
                <h4>Exemples de prix</h4>
                <p>Consultez le taux de change sur <a href="https://www.xe.com/fr/currencyconverter/convert/?Amount=10000&From=IDR&To=EUR" target="_blank">www.xe.com</a></p>
                <ul>
                    <li>Un petit hôtel bon marché : moins de 300 000 Rps la nuit pour 2 personnes</li>
                    <li>Une bouteille d’eau : 10 000 Rps</li>
                    <li>Une bière locale : 35.000 Rps</li>
                    <li>Une course de 10 mn en taxi : 20 000 Rps</li>
                    <li>Un Nasi Goreng (riz frit) dans la rue : 15 000 Rp </li>
                    <li>Un restaurant proposant des plats indonésiens et européens dans des stations comme Sanur ou Ubud : entre 50 000 et 70 000 Rps pour un plat</li>
                    <li>Un restaurant chic : à partir de 250 000 Rps par personne (hors boissons) </li>
                    <li>Un verre de vin dans un restaurant chic : environ 150 000 Rps </li>
                </ul>
            </section>
            <section id="money--tips">
                <h4>Les pourboires</h4>
                <p>Ils ne sont pas obligatoires, mais c’est l’usage de laisser des pourboires au restaurant, après un massage, pour les porteurs à l’aéroport, pour votre guide et/ou votre chauffeur, etc.</p>
            </section>
        </section>

        <section id="time">
            <h3>5. Quelle heure est-il en Indonésie ?</h3>
            <p>En été, le décalage horaire entre Bali et l’Europe est de 6 heures ; et en hiver il est de 7h.<p>
            <ul>A noter : le pays s’étend sur 3 fuseaux horaires :
                <li>UTC+07 : la partie ouest de l'Indonésie suit « l'heure de Ouest ». Elle est connue sous le nom de “Waktu Indonesia Barat” (WIB). Sumatra, Java , l’Ouest et le centre de Kalimantan sont concernées.</li>
                <li>UTC+08 : la partie centrale de l'Indonésie suit WITA (Waktu Indonesia Tenga) : Bali, Sulawesi, l’Ouest et l’Est de Nusa Tenggara (Lombok, Sumba, Sumbawa, Flores, etc.) ; le Sud, le Nord et l’Est de Kalimantan.</li>
                <li>UTC+09 : l’horaire de la région Est (WIT, Waktu Indonesia Timur) : les Moluques et la Papouasie.</li>
            </ul>
        </section>

        <section id="celebrations">
            <h3>6. Voyager en fonction des cérémonies</h3>
            <section id="celebrations--nyepi">
                <h4>Nyepi</h4>
                    <p>Nyepi est la fête la plus importante à Bali et surtout la plus atypique, elle est appelée le ‘jour du silence’. On dit que ce jour-là, le maître de l’enfer, Yama, va ouvrir grand ses portes et lâcher toute une horde de démons sur Bali.</p>
                    <p>La veille, lorsque la nuit tombe, c’est la fête : les Balinais font le plus de bruit possible avec des pétards ou des gongs et paradent dans les rues avec les Ogoh-Ogoh, d’immenses statues de plusieurs mètres de haut en papiers machés qui doivent effrayer les démons afin de ne pas les inciter à rester sur l’Ile.</p>
                    <p>Le lendemain, jour même de Nyepi, tout le monde doit rester chez soi, méditer et prier, en respectant des prescriptions strictes : jeûner, ne pas faire de bruit, ni utiliser d’électricité. Face à ce silence et à toutes les rues vides, les rares démons restés sur l’île penseront que l’île est déserte et s’en iront.
                    <p>Toute activité est complètement stoppée ce jour-là : il est absolument interdit de sortir de chez soi ou de son hôtel. Tout est fermé, même l’aéroport ne fonctionne pas. Vous pouvez tout de même séjourner sur l’île car les hôtels s’organisent et proposent un room-service.<p>
            </section>
            <section id="celebrations--idulfitri">
                <h4>Idul Fitri</h4>
                <p>Pendant une dizaine de jours chaque année, il est plus difficile de voyager sur l’île de Java car ce sont les fêtes d’Idul Fitri (Lebaran) qui clôturent la période de Ramadan. Toutes les familles se réunissent et les trains, bateaux, avions, routes sont pris d’assaut, tout est complet et il est assez difficile de se déplacer. De plus, les sites touristiques sont fermés, l’île est en fête et en vacances !</p>
                <p>Les dates varient chaque année et peuvent être consultées sur <a href="https://publicholidays.co.id/" target="_blank">site officiel.</a></p>
            </section>
            <section id="celebrations--sulawesi">
                <h4>Les cérémonies à Sulawesi</h4>
                <p>Si vous prévoyez de visiter le Pays Toraja à Sulawesi, il serait dommage de rater les impressionnantes cérémonies funéraires, de grandes fêtes qui durent plusieurs jours. Ces rites funéraires font partie intégrante de la vie quotidiennes des gens de la région.</p>
                <p>Il faut donc éviter de séjourner le samedi et le dimanche car en principe, les cérémonies ne sont pas organisées pendant le week-end, mieux vaut prévoir ses dates de voyage en conséquence.</p>
            </section>
        </section>

        <section id="food">
            <h3>7. Quelles sont les spécialités culinaires en Indonésie ?</h3>
            <section id="food--specialities">
                <h4>Les spécialités</h4>
                <p>La cuisine indonésienne est très riche et diversifiée de part ses nombreuses îles et ethnies. L’aliment de base, comme partout en Asie, reste bien sûr le riz.</p>
                <p>Le plat le plus connu et le plus répondu est certainement le <strong>Nasi goreng</strong> : un riz frit aux légumes et au poulet ou crevettes ou poisson selon les goûts et les coutumes de chaque région.</p> 
                <p>Similaire, le <strong>Nasi campur</strong> est un plat parfait pour déguster les spécialités locales. Il est composé de riz blanc et de petites portions de plein d’autres mets (légumes, viande, tofu, œufs, etc.).</p>
                <p>Pour les amateurs de viande, le <strong> bœuf rendang</strong>, originaire de l’île de Sumatra. Mijoté pendant des heures dans du lait de coco et des épices, c’est un vrai délice ! Il y a aussi le fameux <strong>Babi guling</strong> balinais : un cochon roti à la broche que l’on partage souvent à l’occasion d’une fête ou d’une cérémonie.</p>
                <p>Côté végétarien, le <stong>Gado gado</strong> vous séduira : de savoureux légumes épices servis avec une sauce aux cacahuètes.</p>
                <p>On trouve également un large choix de nouilles, de soupes, de brochettes. Et bien sûr, de succulents poissons et fruits de mer frais puisque que la pêche traditionnelle reste une activité principale dans l’archipel.</p>
            </section>
            <section id="food--wheretoeat">
                <h4>Où manger ?</h4>
                <p>Sur les îles comme Bali ou les villes les plus visitées, il y a un large choix de restaurants aux alentours des hôtels c’est pourquoi nous il n’est pas conseillé de prendre des formules ‘pension complète’ ou ‘demi-pension’.</p>
                <p>Streetfood, warungs (petites échoppes), restaurants traditionnels ou européens, chics ou moins chics, vous aurez l’embarras du choix !</p>
                <p>Dans les zones plus reculées, vous pourrez goûter les spécialités locales dans les warungs ou chez vos hôtes.<p>
                <p>Voir notre section <a href="#money--prices">exemples de prix</a><p>

            <section id="food--water">
                <h4>L'eau</h4>
                <p>L’eau n’est pas potable en Indonésie, il vous faudra boire uniquement de l’eau en bouteille ou en gallon.</p>
            </section>
        </section>

        <section id="transport">
            <h3>8. Comment se déplacer en Indonésie ?</h3>
            <section id="transport--driving">
                <h4>La conduite </h4>
                <p>La conduite en Indonésie, à gauche, est dangereuse. Mauvais état des routes, inconscience des motocyclistes qui s’insèrent dans la circulation sans même tourner la tête, nombreux chiens errants, charrettes de tout type, manque de signalisation de jour comme de nuit, etc.</p>
                <p>Pour ceux qui décideraient tout de même de louer un véhicule, pensez à toujours avoir sur vous votre permis international (faire la démarche dans votre pays d’origine avant votre départ), y compris pour louer un scooter.</p>
            </section>
            <section id="transport--taxis">
                <h4>Les taxis</h4>
                <p>Conseillé pour les petits trajets aux alentours de votre hébergement. Préférez les taxis officiels et assurez-vous qu’ils utilisent un compteur, sinon, il vous faudra négocier.</p>
            </section>
            <section id="transport--publictransport">
                <h4>Les transports en commun</h4>
                <p>Les transports en commun sont très mal organisés voir quasi inexistants sur des îles comme Bali par exemple. Il n’y a pratiquement pas de bus en circulation. Les locaux utilisent des petites camionnettes, les bemos, où ils montent à plusieurs afin de partager les coûts des trajets entre les villes et les villages. Les horaires sont très aléatoires et les vans sont peu confortables.<p>
                <p>Au niveau du train, c’est l’île de Java qui offre un réseau ferroviaire intéressant et bon marché, il vous permettra de traverser de grandes distances comme par exemple de Java à Jogjakarta, de Jogjakarta à Surabaya ou à Malang, etc.</p>
            </section>
            <section id="transport--severalislands">
                <h4>D’île en île</h4>
                <p>Pour rejoindre d’autres îles, plusieurs possibilités se présentent en fonctions de là où vous vous situez et des trajets souhaités : les Speedboats (bateaux rapides), les ferrys ou les trajets en avion.</p>
                <p>Le vols intérieurs sont très nombreux et assez bons marchés en Indonésie, ils permettent de rejoindre les grandes villes des îles ou de changer d’île. Depuis 2018, aucune compagnie Indonésienne n’est sur la liste noire de l’UE (<a href="https://ec.europa.eu/transport/modes/air/safety/air-ban/search_en" target="_blank">consultez la liste officielle</a>).</p>
            </section>
            <section id="transport--oneisland">
                <h4>Sur chaque île</h4>
                <p>Un moyen accessible et pratique pour se déplacer entre les villes touristiques ou les villages les plus reculés reste la voiture avec chauffeur. Et afin de profiter au maximum des trajets entre chaque étape, vous pouvez organiser des visites en cours de route : le pays se prête très bien à ce type de séjour.<p>
                <p>En Indonésie, il est beaucoup plus intéressant d’organiser des séjours itinérants avec des visites entre chaque étape, plutôt que de rayonner depuis une seule étape.</p>
                <p>Dans ce cas, un guide local est conseillé afin de vous guider dans votre itinéraire mais aussi en vous accompagnant sur les sites, il vous partagera également sa culture et ses traditions.</p> 
            </section>
        </section>

    </div>

    {# ------- sticky navbar -------  #}
    <nav class="section-nav">
        <ol>
            <li><a href="#when">1. Quand se rendre en Indonésie ?</a>
                <ul>
                    <li class=""><a href="#when--climate">Le climat</a></li>
                    <li class=""><a href="#when--temperatures">Les températures</a></li>
                </ul>
            </li>

            <li><a href="#formalities">2. Quelles sont les formalités ?</a>
                <ul>
                    <li class=""><a href="#formalities--visa">Visa &amp; taxes</a></li>
                    <li class=""><a href="#formalities--passport">Passeport</a></li>
                    <li class=""><a href="#formalities--vaccination">Les vaccins</a></li>
                </ul>
            </li>

            <li><a href="#danger">3. Est-ce un pays dangereux ?</a>
                <ul>
                    <li class=""><a href="#danger--advice">Conseil</a></li>
                    <li class=""><a href="#danger--health">Santé</a></li>
                </ul>
            </li>

            <li><a href="#money">4. Quel est le coût de la vie ?</a>
                <ul>
                    <li class=""><a href="#money--visa">Change</a></li>
                    <li class=""><a href="#money--bargaining">Le marchandage</a></li>
                    <li class=""><a href="#money--prices">Exemples de prix</a></li>
                    <li class=""><a href="#money--tips">Les pourboires</a></li>
                </ul>
            </li>

            <li><a href="#time">5. Quelle heure est-il en Indonésie ?</a>
            </li>

            <li><a href="#celebrations">6. Voyager en fonction des cérémonies</a>
                <ul>
                    <li class=""><a href="#celebrations--nyepi">Nyepi</a></li>
                    <li class=""><a href="#celebrations--idulfitri">Idul Fitri</a></li>
                    <li class=""><a href="#celebrations--sulawesi">Les cérémonies à Sulawesi</a></li>
                </ul>
            </li>

            <li><a href="#food">7. Quelles sont les spécialités culinaires ? </a>
                <ul>
                    <li class=""><a href="#food--specialities">Les spécialités</a></li>
                    <li class=""><a href="#food--wheretoeat">Où manger ?</a></li>
                    <li class=""><a href="#food--water">L'eau</a></li>
                </ul>
            </li>

            <li><a href="#transport">8. Comment se déplacer en Indonésie ?</a>
                <ul>
                    <li class=""><a href="#transport--driving">La conduite</a></li>
                    <li class=""><a href="#transport--taxis">Les taxis ?</a></li>
                    <li class=""><a href="#transport--publictransport">Les transports en commun</a></li>
                    <li class=""><a href="#transport--severalislands">D'île en île</a></li>
                    <li class=""><a href="#transport--oneisland">Sur chaque île</a></li>
                </ul>
            </li>


        </ol>
    </nav>

</main> 
</div>

    {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('informationpage') }}
    {% endblock %}
{% endblock %}
