{% extends 'base.html.twig' %}

{% block title %}Informations Pratiques{% endblock %}

{% block body %}

    <div id="information">
    
        <h2>Informations pratiques</h2>
        <p>Le guide pour préparer votre voyage en Indonésie</p>

        <main>
        <div>
            {# ------- information website about the Smooth Scrolling Sticky ScrollSpy Navigation -------  #}
            {# <p><em>Want an explanation of how this works?<br />&rarr; <a href="https://www.bram.us/2020/01/10/smooth-scrolling-sticky-scrollspy-navigation/" target="_top">https://www.bram.us/2020/01/10/smooth-scrolling-sticky-scrollspy-navigation/</a></em></p> #}

            {# ------- content information page -------  #}
           
            <section id="when">
                <h2>Quand se rendre en Indonésie ?</h2>
                <section id="when--climate">
                    <h3>Le climat</h3>
                    <p>…</p>
                </section>
                <section id="when--temperatures">
                    <h3>Les températures</h3>
                    <p>…</p>
                </section>
            </section>

            <section id="formalities">
                <h2>Quelles sont les formalités pour se rendre en Indonésie ?</h2>
                <section id="formalities--visa">
                    <h3>Visa &amp; taxes</h3>
                    <p>…</p>
                </section>
                <section id="formalities--passport">
                    <h3>Passeport</h3>
                    <p>…</p>
                </section>
                <section id="formalities--vaccination">
                    <h3>Les vaccins</h3>
                    <p>…</p>
                </section>
            </section>

            <section id="danger">
                <h2>Est-il dangereux de voyager en Indonésie ?</h2>
                <p></p>
                <section id="danger--advice">
                    <h3>Conseil</h3>
                    <p>…</p>
                </section>
                <section id="danger--health">
                    <h3>Santé</h3>
                    <p>…</p>
                </section>
            </section>

            <section id="money">
                <h2>Quel est le coût de la vie en Indonésie ?</h2>
                <section id="money--currency">
                    <h3>Change</h3>
                    <p>…</p>
                </section>
                <section id="money--bargaining">
                    <h3>Le marchandage</h3>
                    <p>…</p>
                </section>
                <section id="money--prices">
                    <h3>Exemples de prix</h3>
                    <p>…</p>
                </section>
                <section id="money--tips">
                    <h3>Les pourboires</h3>
                    <p>…</p>
                </section>
            </section>

            <section id="time">
                <h2>Quelle heure est-il en Indonésie ?</h2>
                <p></p>
            </section>

            <section id="celebrations">
                <h2>Voyager en fonction des cérémonies</h2>
                <section id="celebrations--nyepi">
                    <h3>Nyepi</h3>
                    <p>…</p>
                </section>
                <section id="celebrations--idulfitri">
                    <h3>Idul Fitri</h3>
                    <p>…</p>
                </section>
                <section id="celebrations--sulawesi">
                    <h3>Les cérémonies à Sulawesi</h3>
                    <p>…</p>
                </section>
            </section>

            <section id="food">
                <h2>Quelles sont les spécialités culinaires en Indonésie ?</h2>
                <section id="food--specialities">
                    <h3>Les spécialités</h3>
                    <p>…</p>
                </section>
                <section id="food--wheretoeat">
                    <h3>Où manger ?</h3>
                    <p>…</p>
                </section>
                <section id="food--water">
                    <h3>L'eau</h3>
                    <p>…</p>
                </section>
            </section>

            <section id="transport">
                <h2>Comment se déplacer en Indonésie ?</h2>
                <section id="transport--driving">
                    <h3>La conduite </h3>
                    <p>…</p>
                </section>
                <section id="transport--taxis">
                    <h3>Les taxis</h3>
                    <p>…</p>
                </section>
                <section id="transport--publictransport">
                    <h3>Les transports en commun</h3>
                    <p>…</p>
                </section>
                <section id="transport--tren">
                    <h3>Les trains</h3>
                    <p>…</p>
                </section>
                <section id="transport--severalislands">
                    <h3>D’île en île</h3>
                    <p>…</p>
                </section>
                <section id="transport--oneisland">
                    <h3>Sur chaque île</h3>
                    <p>…</p>
                </section>
            </section>

        </div>

        {# ------- sticky navbar -------  #}
        <nav class="section-nav">
            <ol>
                <li><a href="#when">Quand se rendre en Indonésie ?</a>
                    <ul>
                        <li class=""><a href="#when--climate">Le climat</a></li>
                        <li class=""><a href="#when--temperatures">Les températures</a></li>
                    </ul>
                </li>

                <li><a href="#formalities">Quelles sont les formalités ?</a>
                    <ul>
                        <li class=""><a href="#formalities--visa">Visa &amp; taxes</a></li>
                        <li class=""><a href="#formalities--passport">Passeport</a></li>
                        <li class=""><a href="#formalities--vaccination">Les vaccins</a></li>
                    </ul>
                </li>

                <li><a href="#danger">Est-il dangereux de voyager en Indonésie ?</a>
                    <ul>
                        <li class=""><a href="#danger--advice">Conseil</a></li>
                        <li class=""><a href="#danger--health">Santé</a></li>
                    </ul>
                </li>

                <li><a href="#money">Quel est le coût de la vie en Indonésie ?</a>
                    <ul>
                        <li class=""><a href="#money--visa">Change</a></li>
                        <li class=""><a href="#money--bargaining">Le marchandage</a></li>
                        <li class=""><a href="#money--prices">Exemples de prix</a></li>
                        <li class=""><a href="#money--tips">Les pourboires</a></li>
                    </ul>
                </li>

                <li><a href="#time">Quelle heure est-il en Indonésie ?</a>
                </li>

                <li><a href="#celebrations">Voyager en fonction des cérémonies</a>
                    <ul>
                        <li class=""><a href="#celebrations--nyepi">Nyepi</a></li>
                        <li class=""><a href="#celebrations--idulfitri">Idul Fitri</a></li>
                        <li class=""><a href="#celebrations--sulawesi">Les cérémonies à Sulawesi</a></li>
                    </ul>
                </li>

                <li><a href="#food">Quelles sont les spécialités culinaires ? </a>
                    <ul>
                        <li class=""><a href="#food--specialities">Les spécialités</a></li>
                        <li class=""><a href="#food--wheretoeat">Où manger ?</a></li>
                        <li class=""><a href="#food--water">L'eau</a></li>
                    </ul>
                </li>

                <li><a href="#transport">Comment se déplacer en Indonésie ?</a>
                    <ul>
                        <li class=""><a href="#transport--driving">La conduite</a></li>
                        <li class=""><a href="#transport--taxis">Les taxis ?</a></li>
                        <li class=""><a href="#transport--publictransport">Les transports en commun</a></li>
                        <li class=""><a href="#transport--tren">Les trains</a></li>
                        <li class=""><a href="#transport--severalislands">D'île en île</a></li>
                        <li class=""><a href="#transport--oneisland">Sur chaque île</a></li>
                    </ul>
                </li>


            </ol>
        </nav>

    </main> 
    </div>


    {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('informationpage') }}
    {% endblock %}
{% endblock %}
