{% extends 'base.html.twig' %}

{% block title %}Informations Pratiques{% endblock %}

{% block body %}

    <div>
    
    <h2>Infos pratiques pour votre voyage en Indonésie</h2>

    <p>Préparez votre voyage</p>

    
    
    
    </div>
{% endblock %}
