
.flexbox-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flexbox-sidebyside{
    display: flex;
    justify-content: space-around;
    text-align: center;
}