
.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */

    max-width: 1200px; /* 2 */

    padding: 0 10px; /* 3 */

    @include media('<=phone') {
        padding: 0 2rem;
    }  
}

.main-paragraph-wrapper{
    padding: 0 15rem;
    font-size: 1.2rem; 

    @include media('<=tablet') {
        padding: 0 10rem;
    } 
    @include media('<=phone') {
        padding: 0 0rem;
    }           
}

*{
    font-family: 'Quicksand', sans-serif;
}

h2{

    @include media('<=phone') {
        line-height: 2.5rem !important;
        padding: 1rem 2rem !important;
    } 
}

h1, h2{
    font-family: 'Beth Ellen', cursive;
    padding: 5rem 0;
    text-align: center;
}

h3{
    font-size: 2.5rem !important;
    font-family: 'Beth Ellen', cursive;
    padding: 5rem 0;
    text-align: center;

    @include media('<=phone') {
        font-size: 2rem !important;
        padding: 3rem 0;
    } 
}

h4{
    margin-bottom: 3rem !important;    
    line-height: 3rem !important;
}

a{
    text-decoration: none !important;
}

ul li{
    list-style-type: none !important;
}

section{
    padding: 1rem 0 3rem 0;
}