
*{
    font-family: 'Quicksand', sans-serif;
}

h1, h2{
    font-family: 'Beth Ellen', cursive;
    padding: 2rem 0
}

a{
    text-decoration: none !important;
}

ul li{
    list-style-type: none !important;
}