

$dark-violet :#2a1054;

// $medium-violet: rgb(103, 86, 131);
/* $medium-violet: rgb(158, 158, 255); */

$flashy-violet: #8247ff;
$medium-violet: #7867D0;

$rose-violet: #712b91;

$dark-green-plus: #172b1a;

$dark-green: #213d25;

$medium-green: rgb(40, 75, 46) ;


$green: #528c48;

$light-green: #66b658;

$light-green-plus: #a2ed56;

$kaki-green: #4e6650;

$transparent-gray: rgba(0, 0, 0, 0.3);

$transparent-white: rgba(255, 255, 255, 0.15);

