

$dark-violet :rgb(42, 16, 84);

// $medium-violet: rgb(103, 86, 131);
/* $medium-violet: rgb(158, 158, 255); */

// $medium-violet: #8247FF;
$medium-violet: #7867D0;


$dark-green-plus: rgb(23, 43, 26);

$dark-green: rgb(33, 61, 37);

$medium-green: rgb(40, 75, 46) ;


$green: rgb(82, 140, 72);

$light-green: rgb(102, 182, 88);

$kaki-green: rgb(78, 102, 80);

$transparent-gray: rgba(0, 0, 0, 0.3);

$transparent-white: rgba(255, 255, 255, 0.15);

