
  .activities-container{
  $max-tab-count: 5;
  $tab-wrap-border-radius: 6px;

  .tab-wrap {
    transition: 0.3s box-shadow ease;
    border-radius: $tab-wrap-border-radius;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: #fff;
    margin: 40px 0;
    
      @media only screen and (max-width: 767px) {
        flex-direction: column;
      }
    
      &:hover {
        box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
      }

  }

  .tab {
    display: none;
    
    @for $i from 1 through $max-tab-count {
      &:checked:nth-of-type(#{$i}) ~ .tab__content:nth-of-type(#{$i}) {
        opacity: 1;
        transition: 0.5s opacity ease-in, 0.8s transform ease;
        position: relative;
        top: 0;
        z-index: 99;
        transform: translateY(0px);
        text-shadow: 0 0 0;
      }
    }
    
    &:first-of-type:not(:last-of-type) + label {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    
    &:not(:first-of-type):not(:last-of-type) + label {
      border-radius: 0;
    }
    
    &:last-of-type:not(:first-of-type) + label {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    
    &:checked + label {
      background-color: #fff;
      /* box-shadow: 0 -1px 0 #fff inset; */
      cursor: default;
      &:hover {
      /*  box-shadow: 0 -1px 0 #fff inset; */
        background-color: #fff;
      }
    }
    
    + label {
      /* box-shadow: 0 -1px 0 #eee inset; */
      border-radius: $tab-wrap-border-radius $tab-wrap-border-radius 0 0;
      cursor: pointer;
      display: block;
      text-decoration: none;
      color: white;
      flex-grow: 3;
      text-align: center;
      /* background-color: #f2f2f2; */
      user-select: none;
      text-align: center;
      transition: 0.3s background-color ease, 0.3s box-shadow ease;
      height: 50px;
      box-sizing: border-box;
      padding: 15px;
      &:hover {
        background-color: #f9f9f9;
        /* box-shadow: 0 1px 0 #f4f4f4 inset; */
      }
    }
    
    &__content {
      padding: 3rem;
      /* background-color: transparent; */
      position: absolute;
      width: 100%;
      z-index: -234;
      opacity: 0;
      left: 0;
      transform: translateY(-3px);
      color: white;
      /* border-radius: $tab-wrap-border-radius; */
    }
  }

  .text-map-sidebyside{
    display: flex; 
    justify-content: space-between;
      
      @media only screen and (max-width: 767px) {
        flex-direction: column;
  }

  .tab__content{    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  }

  .dropdown-list{
    width: 100%;
  }

  #tab1{

    + label  {
      background-color: $dark-violet;
    }
  }

  .tab1{
    background-color: $dark-violet;
  }

  #tab2{

    + label  {
      background-color: $dark-green;
    }
  }

  .tab2{
    background-color: $dark-green;
  }

  #tab3{

    + label  {
      background-color: $dark-green-plus;
    }
  }

  .tab3{
    background-color: $dark-green-plus;
  }

  #tab4{

    + label  {
      background-color: $kaki-green;
    }
  }

  .tab4{
    background-color: $kaki-green;
  }


  // ****** CSS for drop down information inside tabs

  .dropdown {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .icon {
    display: flex;
  }
  .btn{
    padding: 1rem 3rem;
  }
  .textcontent {      
    display: none;
    text-align: left;

    p{
      padding-right: 2rem;
    }
  }
  
  .icon span i {
    color: white;
  }

  .display {
    display: block;
  }

  p, h4{
    text-align: left;
  }

  h4{
    font-size: 1.2rem;
    margin-bottom: 0rem !important;
    color: white;
  }

  // special CSS for "Coutumes" tab on Bali Page
  .coutumes p{
    padding-right: 20rem;
  }

  .coutumes-icon{    
    padding-right: 5rem;
    padding-top: 2rem;

      img{
        width: 100%;
      }
  }
}