
.toggle-activities{
    display: flex;
    justify-content: center;
    text-align: center;

    img{
        width: 20%;;
    }
}

.card-activities{
    width: 30%;
    border: 1px solid $base-color;
    margin: 1rem;
}

.tab {
    width: 100%;  
    
    p{
        margin: 0;
    }
}

.content {
    display: none;
    width: 90%;
    height: 8rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    text-align: left;
    background-color: $green-color;
    border-bottom-right-radius: 10px;
    font-style: italic;
}

.display {
    display: block;
    // position: absolute;
    // margin-left: -6rem;
}