
// tours cards : 3 cards to present serveral tours options, cliquable, they are displayed on ISLAND Page and on TOURS Page. 

.tours-section{
    display: flex;
    flex-direction: column;
    
      	.tours-cards{
          display: flex;
          justify-content: center;

			@include media('<=phone') {
				flex-direction: column;
				align-items: center;
			}	
    }
}

// special Wrap css for TOURS page
#tours .tours-cards{
	flex-wrap: wrap;
}



$base-duration: 500ms;

.image-block{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem 1rem !important;
	width: 375px;
	height: 500PX;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;

	&:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		img {
			transform: scale(1.25);
		}
		figcaption {
			bottom: 0;
			/* text-align: left; */
		}
		button{
			-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
					animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		}
	}

	img {
		height: 100%;
		transition: 0.5s;
	}

	figcaption {
		display: flex;
		flex-direction: column;
		position: absolute;
		bottom: -33%;
		left: 0;
		width: 100%;
		//height: 50%;
		margin: 0;
		padding: 25px;
		background-color: rgba(black,0.85);
		box-shadow: 0 0 20px rgba(black,0.4);
		color: white;
		line-height: 1;
		transition: 0.5s;
		
		h4 {
			margin: 0 0 10px !important;
			padding: 0 2rem;			
			text-align: center;
		}
		
		p {
			font-size: 14px;
			line-height: 1.75;
			text-align: center;
		}
		
		button {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 15px 81px;
			padding: 10px 30px;
			background-color: $medium-violet;
			border: none;
			border-radius: 5px;
			color: white;
			font-size: 14px;
		}

		button:hover{
			
			background-color: $medium-green ;
		}

		@keyframes scale-in-center {
			0% {
			-webkit-transform: scale(0);
					transform: scale(0);
			opacity: 1;
			}
			100% {
			-webkit-transform: scale(1);
					transform: scale(1);
			opacity: 1;
			}
		}
	}
}
