
#contact{

    padding-bottom: 8rem;
}


/** -------- section  : Introduction  --------- **/
#contact .intro{
    margin-bottom: 4rem;

        p{
            text-align: center;
            font-size: 1.1rem;
        }

        p:first-of-type{
            font-size: 1.3rem;
        }
}

/** -------- section 2 : Location  --------- **/
#contact .location{
    display: flex;
    justify-content: center;
    text-align: left;
    background-color: $dark-green;
    color: #ffffff;
    padding-top: 3rem;

        iframe{
            margin-right: 4.5rem;
        }

        .location-details{
            margin-left: 4.5rem;
        }

        h4{
            font-family: 'Beth Ellen', cursive;
            font-size: 1.5rem;
            padding-bottom: 1.5rem;           
        }

        h5{
            margin-top: 2rem;
            padding-bottom: 1rem;
        }

        h5 + div{
            padding-left: 30px;
        }

        a{
            color: #ffffff;
            text-decoration: none;
        }

        a:hover{
            color: $light-green;
        }
}

/** -------- section 3 : Team  --------- **/
#contact .team{
    text-align: center;
    padding-top: 5rem;

        img{
            width: 45%;
            margin-top: 2rem;
        }
} 







