
#contact{
    padding-bottom: 8rem;
}


/** -------- section  : Introduction  --------- **/
#contact .intro{
    margin-bottom: 4rem;

        p{
            text-align: center;
            font-size: 1.1rem;
        }

        p:first-of-type{
            font-size: 1.3rem;
        }
}

/** -------- section 2 : Location  --------- **/
#contact .location{
    display: flex;
    justify-content: center;
    text-align: left;
    background-color: $dark-green;
    color: #ffffff;
    padding-top: 3rem;

        @media only screen and (max-width: 767px) {
            flex-direction: column;
            text-align: center;
        }

        iframe{
            margin-right: 4.5rem;

                @media only screen and (max-width: 767px) {
                    margin-right: 0rem;
                }
        }

        .location-details{
            margin-left: 4.5rem;

                @media only screen and (max-width: 767px) {
                    margin-left: 0rem;
                    margin-top: 2rem;
                }
        }

        h4{
            font-family: 'Beth Ellen', cursive;
            font-size: 1.5rem;
            padding-bottom: 1.5rem;           
        }

        h5{
            margin-top: 2rem;
            padding-bottom: 1rem;
        }

        h5 + div{
            padding-left: 30px;
        }

        a{
            color: #ffffff;
            text-decoration: none;
        }

        a:hover{
            color: $light-green;
        }
}

/** -------- section 3 : Team  --------- **/
#contact .team{
    text-align: center;
    padding-top: 5rem;

        @media only screen and (max-width: 767px) {
            padding: 2rem 2rem;
        }

        img{
            width: 45%;
            margin-top: 2rem;

            @media only screen and (max-width: 767px) {
                width: 80%;
            }
        }
} 


@media only screen and (max-width: 767px) {   
    .map-responsive{
        width: 300px;
        height: 300px;
    }

    .map-responsive iframe{
        width: 300px;
        height: 300px;
    }
}





