
#contact .intro{
    margin-bottom: 5rem;

        p{
            text-align: center;
            font-size: 1.3rem;
        }
}

#contact .location{
    display: flex;
    justify-content: space-around;
    text-align: left;    
    margin-bottom: 5rem;

    h3{
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    h4{
        margin-top: 1.8rem;
    }

    a{
        color: black;
        text-decoration: none;
    }
}

#contact .team{
    text-align: center;

        img{
            width: 50%;
            margin-top: 2rem;
        }
} 







