
.destinations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* BLOCKS */
.destinations--blocks
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    max-width:1200px;

    a, a:hover{
        text-decoration: none;
        color: white;
    }


    @include media('<=big-laptop'){
        justify-content: center;
    }
}

.destinations--block
{
    width: 150px;
    height: 150px;
    margin: 15px;
    background-color: $dark-violet;
    display: inline-flex;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    img{
        object-fit: cover;
        height:100%;
        width:100%;
        position:absolute;
        top:0;
        left:0;
        z-index:0;
        transition: all 0.4s ease-out;

        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .text{
        position:absolute;
        text-align: center;
        width: 100%;
    }
    
    h4{
        font-size: 1.5rem;
        text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
        font-family: 'Beth Ellen', cursive;
        margin-bottom: 0 !important;

        @include media('<=phone') {
            font-size: 2rem;
        }
    }

    &:hover, &:active{
        box-shadow: 0px 5px 17px -1px rgba(0,0,0,0.64);
        transform:scale(1.05);
    }

    &:hover img, &:active img{
        opacity: 0.6;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    
    @include media('<=phone') {
        width: 230px;
        height: 230px;
    }
}

.block-overlay{
    
    box-shadow: 0px 5px 17px -1px rgba(0,0,0,0.64);
    transform:scale(1.05);

     img{
        opacity: 0.6;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

/*  MAP */

.destinations-map{
    display: flex;
    justify-content: center;
    padding: 0 5rem;
    

    svg, .destination-map--details{
        margin: 25px;
    }

    svg{
        height: 340px;
        width: 850px;
    }

    @include media('<=big-laptop'){
        svg{
            width: 600px;
            height: 240px;
        }
    }

    @include media('<=tablet'){
        display: none;
    }

}


.map-overlay{
    cursor: pointer;
    fill: $dark-violet;
}


/* if small screens, display an image instead of the svg and hide the svg */

.map-small-screens{
    display: none;

    @include media('<=tablet'){
        display: inline;

        img{
            max-width: 40rem;
            padding: 2rem 0;
        }
    }

    @include media('<=phone'){
        display: none;
    }
}

