/* SECTION 1 PRESENTATION  */

.home-presentation{
    padding: 4rem 12rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    p{
        max-width:900px;
    }
    
}

/* SECTION 2 DESTINATION  */

.home-destinations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.home-destinations h2{
    font-family: 'Beth Ellen', cursive;
    text-align: center;
    padding-bottom: 3rem;
}

.home-destinations--blocks
{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-width:1200px;

    a, a:hover{
        text-decoration: none;
        color: white;
    }
}


.home-destinations--block
{
    width: 220px;
    height: 220px;
    margin: 20px;
    background-color: $dark-violet;
    display: inline-flex;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    
    .divider{
        width: 125px;
        height: 1px;
        background-color: white;
        text-align: center;
        left: 47px;
        position: absolute;
        bottom: 26px;
    }

    img{

    object-fit: cover;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    transition: all 0.4s ease-out;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    }

    .text{
    position:absolute;
    text-align: center;
    width: 100%;
    }
    
    h4{
        font-size: 1.8rem;
        margin:0;
        text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
        font-family: 'Beth Ellen', cursive;
    }

    p{
        font-family: 'Quicksand', sans-serif;
        margin:20px 0 0 0;
    }

    &:hover{
        box-shadow: 0px 5px 17px -1px rgba(0,0,0,0.64);
        transform:scale(1.05);
    }

    &:hover img{
        opacity: 0.6;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

}

/* SECTION 3 MISSION  */

.home-mission{
    text-align: center;

    h3{
        font-size: 1.5rem;
    }

}


.home-mission--values{
    display: flex;
    justify-content: center;


    div{
        margin: 1.5rem;
    }

    h4{
        font-size:1.3rem;
        margin-bottom: 2rem;
        color: white
        
    }

    h4:before{

        content: "";
        
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 200px;
        display: block;
        height: 46px;
        position: relative;
        top: 34px;
        left: 22px;
        z-index: -2;
    
    }

    img{
        width: 100px;
        height: 100px;
    }

    .value1 h4:before{
        background-image: url('/assets/images/icons/icon-brushstroke1.png');
    }


    .value2 h4:before{
        background-image: url('/assets/images/icons/icon-brushstroke2.png');
    }

    .value3 h4:before{
        background-image: url('/assets/images/icons/icon-brushstroke3.png');
    }
}


/* SECTION 4 TESTIMONY CAROUSEL  => rewiews-carousel.scss */

/* SECTION 5 PHOTOS CAROUSEL  */

#image-slider {
    margin-left: auto !important;
    margin-right: auto !important;
    }