
.home-presentation{
    padding: 7rem 12rem;
    text-align: center;
}

.home-destinations h2{
    font-family: 'Beth Ellen', cursive;
    text-align: center;
    padding-bottom: 3rem;
}

.home-destinations--blocks{
    display: flex;
    justify-content: space-around;

}