
/** ------- GENERAL CSS FOR INFORMATION PAGE ------- **/

#information{

    >p{
        text-align: center;
        font-size: 1.3rem;
    }    
}

#information .news{
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    margin: 0 15rem;

    @include media('<=phone') {
        margin: 0;
    }

    h3{
        margin: 0;
        padding-top: 1rem;

        @include media('<=phone') {
            padding: 1rem;
        }

    }

    h5, p{
        padding: 0 2rem;
    }

    p:last-of-type{        
        padding-bottom: 1rem;
    }
}



/** ------- SIDEBAR CSS ON INFORMATION PAGE ------- **/

#information{
    /* 1. Enable smooth scrolling */
    html {
        scroll-behavior: smooth;
    }

    /* 2. Make nav sticky */
    main > nav {
        position: sticky;
        top: 7rem;
        align-self: start;
        margin-left: 2.4rem;
    }

    /* 3. ScrollSpy active styles (see JS informationpage.js for activation) */
    .section-nav li.active > a {
        color: $dark-violet;
        font-weight: 500;
    }

    /* Sidebar Navigation */
    .section-nav {
        padding-left: 0;
        border-left: 1px solid #efefef;

        @include media('<=phone') {
            display: none;  
        }
    }

    .section-nav a {
        text-decoration: none;
        display: block;
        padding: .125rem 0;
        color: rgb(187, 184, 184);
        transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
    }

    .section-nav a:hover,
    .section-nav a:focus {
        color: #666;
    }


    ul, ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        margin-left: 1rem;
    }


    /** page layout **/
    main {
        display: grid;
        grid-template-columns: 1fr 22em;
        max-width: 100em;
        width: 90%;
        margin-top: 5rem;

            @include media('<=phone') {
                display: flex;  
                width: 100%;
              
            }

        .content{
            padding: 0 4rem;

                @include media('<=phone') {
                    padding: 2rem;
                }
        }

       
    }

    .content{
        a{
            color: $dark-violet;
            font-weight: 900;
        }
    }

    /** margin/padding stuff**/
    h3, h4, h5{        
        font-family: 'Beth Ellen', cursive;
    }

    h4, h5{        
        padding-top: 5rem;
    }

    h4{
        margin-top: 3rem;
        margin-bottom: 1rem;        
            
        @include media('<=phone') {
            margin: 1rem !important;
        }
    }

    h4:first-child{
       padding-top: 1.5rem;
   }
    
    h5{
        margin: 2rem 0;
        text-align: center;
        position: relative;

    /* Icons ::before titles */
        &::before{
            content: "";
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            position: absolute;
            width: 100%;
            height: 60px;
            bottom: 50px;
        }
    }

    #when--climate h5::before{
        background-image: url('../../images/informationpage/icon-sun.png');
    }

    #when--temperatures h5::before{
        background-image: url('../../images/informationpage/icon-thermometre.png');
    }

    #formalities--visa h5::before{
        background-image: url('../../images/informationpage/icon-visa.png');
    }

    #formalities--passport h5::before{
        background-image: url('../../images/informationpage/icon-passport.png');
    }

    #danger--advice h5::before{
        background-image: url('../../images/informationpage/icon-lightbulb.png');
    }

    #danger--health h5::before{
        background-image: url('../../images/informationpage/icon-health.png');
    }

    #danger--water h5::before{
        background-image: url('../../images/informationpage/icon-water.png');
    }

    #formalities--vaccination h5::before{
        background-image: url('../../images/informationpage/icon-vaccination.png');
    }

    #money--currency h5::before{
        background-image: url('../../images/informationpage/icon-money.png');
    }

    #money--bargaining h5::before{
        background-image: url('../../images/informationpage/icon-handshake.png');
    }

    #money--tips h5::before{
        background-image: url('../../images/informationpage/icon-coins.png');
    }

    #money--prices h5::before{
        background-image: url('../../images/informationpage/icon-rupiah.png');
    }

    #celebrations--nyepi h5::before{
        background-image: url('../../images/informationpage/icon-plumeriaflower.svg');
    }

    #celebrations--idulfitri h5::before{
        background-image: url('../../images/informationpage/icon-leaf_2.svg');
    }

    #celebrations--sulawesi h5::before{
        background-image: url('../../images/informationpage/icon-birdofparadiseflower.svg');
    }

    #food--specialities h5::before{
        background-image: url('../../images/informationpage/icon-meal.png');
    }

    #food--wheretoeat h5::before{
        background-image: url('../../images/informationpage/icon-locationpin.png');
    }

    #transport--driving h5::before{
        background-image: url('../../images/informationpage/icon-compass.png');
    }

    #transport--taxis h5::before{
        background-image: url('../../images/informationpage/icon-car.png');
    }

    #transport--publictransport h5::before{
        background-image: url('../../images/informationpage/icon-bus.png');
    }

    #transport--severalislands h5::before{
        background-image: url('../../images/informationpage/icon-plane.png');
    }

    #transport--oneisland h5::before{
        background-image: url('../../images/informationpage/icon-map.png');
    }

}
