
/** ------- GENERAL CSS FOR INFORMATION PAGE ------- **/

#information{

    >p{
        text-align: center;
        font-size: 1.3rem;
    }    
}



/** ------- SIDEBAR CSS ON INFORMATION PAGE ------- **/

#information{
    /* 1. Enable smooth scrolling */
    html {
        scroll-behavior: smooth;
    }

    /* 2. Make nav sticky */
    main > nav {
        position: sticky;
        top: 7rem;
        align-self: start;
        margin-left: 2.4rem;
    }

    /* 3. ScrollSpy active styles (see JS informationpage.js for activation) */
    .section-nav li.active > a {
        color: $dark-violet;
        font-weight: 500;
    }

    /* Sidebar Navigation */
    .section-nav {
        padding-left: 0;
        border-left: 1px solid #efefef;

        @media only screen and (max-width: 767px) {
            display: none;  
        }
    }

    .section-nav a {
        text-decoration: none;
        display: block;
        padding: .125rem 0;
        color: rgb(187, 184, 184);
        transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
    }

    .section-nav a:hover,
    .section-nav a:focus {
        color: #666;
    }


    ul, ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        margin-left: 1rem;
    }


    /** page layout **/
    main {
        display: grid;
        grid-template-columns: 1fr 22em;
        max-width: 100em;
        width: 90%;
        margin-top: 5rem;

            @media only screen and (max-width: 767px) {
                display: flex;  
                width: 100%;
                text-align: center;
            }

        .content{
            padding: 0 4rem;

                @media only screen and (max-width: 767px) {
                    padding: 2rem;
                }
        }

       
    }

    .content{
        a{
            color: $dark-violet;
            font-weight: 900;
        }
    }

    /** margin/padding stuff**/
    h3, h4{        
        
        font-family: 'Beth Ellen', cursive;
        padding-top: 5rem;
    }

    h3{
        margin-top: 3rem;
        margin-bottom: 1rem;        
            
        @media only screen and (max-width: 767px) {
            margin: 1rem !important;
        }
    }

    h3:first-child{
       padding-top: 1.5rem;
       
   }
    
    h4{
        margin: 2rem 0;
        text-align: center;
        position: relative;

    /* ::before titles */
        &::before{
            content: "";
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            position: absolute;
            width: 80px;
            height: 80px;
            bottom: 60px;
            left: 45%;
        }

    }


    #when--climate h4::before{
        background-image: url('../../images/informationpage/icon-sun.png');
    }

    #when--temperatures h4::before{
        background-image: url('../../images/informationpage/icon-thermometre.png');
    }

    #formalities--passport h4::before{
        background-image: url('../../images/informationpage/icon-passport.png');
    }

    #formalities--passport h4::before{
        background-image: url('../../images/informationpage/icon-passport.png');
    }

    #danger--health h4::before{
        background-image: url('../../images/informationpage/icon-health.png');
    }

    #danger--water h4::before{
        background-image: url('../../images/informationpage/icon-water.png');
    }

    #formalities--vaccination h4::before{
        background-image: url('../../images/informationpage/icon-vaccination.png');
    }

    #money--bargaining h4::before{
        background-image: url('../../images/informationpage/icon-money.png');
    }

    #food--specialities h4::before{
        background-image: url('../../images/informationpage/icon-meal.png');
    }

    #food--wheretoeat h4::before{
        background-image: url('../../images/informationpage/icon-locationpin.png');
    }

    #transport--driving h4::before{
        background-image: url('../../images/informationpage/icon-compass.png');
    }

    #transport--taxis h4::before{
        background-image: url('../../images/informationpage/icon-car.png');
    }

    #transport--severalislands h4::before{
        background-image: url('../../images/informationpage/icon-map.png');
    }

    #time h3{

        position: relative;

        &::before{
        content: "";
        background-image: url('../../images/informationpage/icon-clock.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        position: absolute;
        width: 80px;
        height: 80px;
        bottom: 4rem;
        left: 20rem;
        }
       
    }
    


}
