
#island{
    text-align: center;
}

.top-activities{
    background-image: url('../../images/icones/papyrus.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 29%;
    padding: 3rem;
    margin-right: 2rem;
}