
#island{
    text-align: center;

    .top-activities{
        background-image: url('../../images/test-bambou.jpg');        
        background-position: bottom -8px right 0rem;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 29%;
        padding: 7rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }

    .tab__content{

        img{
            margin-top: 1rem
        }

        p{
            font-style: italic;
        }

    }
}

