

#tours{
    text-align: center;
    
    .introduction p{
        padding: 0 20rem;
        font-size: 1.3rem;
            
            @include media('<=tablet') {
                padding: 0 7rem;
            } 

            @include media('<=tablet') {
                padding: 0 2rem;
            }
    }
}

