{% extends 'base.html.twig' %}

{% block title %}New Tours{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="new-tour">Create new Tours</h1>

        {{ include('tours_edit/_form.html.twig') }}

        <a href="{{ path('tours_edit_index') }}#index-tours" <i class="fas fa-arrow-alt-circle-left m-2"></i>back to list</a>
    </div>
{% endblock %}
