{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div id="contact" class="">
    <h2>Nous contacter</h2>

    <section class="intro">
        <p>Un voyage en Indonésie ?</p>
        <p>Envoyez-nous votre demande et notre équipe vous répondra au plus vite.</p>
    </section>

    <section class="location">
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3944.635750943792!2d115.2077867!3d-8.6309228!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd23f3f78259ff9%3A0x6059f99ae62de153!2zUmFiaW5hIFRvdXJzIOGsreGsqeGstuGspuGsouGsuOGsg-Gtnw!5e0!3m2!1sfr!2sfr!4v1623395175694!5m2!1sfr!2sfr" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        
        <div>
            <h3>ARCHIPEL CONTACT</h3>
            <p>Réceptif Indonésie</p>
            <h4>Nos bureaux à Paris</h4>
            <a class="tel" href="tel:+33188610545"><p>Téléphone : +33 1 88 61 05 45</p></a>
            <a href="mailto:contact@archipel-contact.com"><i class="fas fa-envelope me-3"></i>Ecrivez-nous</a>

            <h4>Nos bureaux à Denpasar</h4>
            <p>Jalan Ahmad Yani Utara
            <p>Peguyangan, North Denpasar, Denpasar City</p>
            <p>Bali 80115 - INDONÉSIE</p>
        </div>
    
    </section>

    <section class="team">
        <div>
            <h3>Nous serons ravis de vous recevoir chez nous...</h3>
            <h4>Sampai jumpa di Indonesia !</h4>
            <img src="{{ asset('../assets/images/contact.jpg') }}" alt="local team photo">
        </div>
    </section>
    
</div>
{% endblock %}
