{% extends 'base.html.twig' %}

{% block title %}Edit Days{% endblock %}

{% block body %}
    <div class="container">
        <h1 id="edit-day">Edit Days</h1>

        {{ include('days_edit/_form.html.twig', {'button_label': 'Update'}) }}

        {# <a href="{{ path('days_edit_index') }}" class="btn btn-warning m-1"><i class="fas fa-arrow-alt-circle-left m-2"></i>back to list</a> #}

        <a href="{{ path('tours_edit_edit', {'id': day.tours.id}) }}#edit-tour" class="btn btn-primary m-1">Back to Tour Edit</a>

        {{ include('days_edit/_delete_form.html.twig') }}
    </div>
{% endblock %}
