{% extends 'base.html.twig' %}

{% block title %}New Days{% endblock %}

{% block body %}

    <div class="container">
        <h1 id="day-create">Create new Day</h1>

        {{ include('days_edit/_form.html.twig') }}

        <a href="{{ path('days_edit_index') }}">back to list</a>
    </div>
{% endblock %}
