{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <h1>Erreur</h1>

        <h2>- Erreur -</h2>
        

    </div>
    
{% endblock %}