{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <div class="wrapper">
        <h1>Page non trouvée</h1>

        <h2>- Erreur 404 -</h2>
        

    </div>

{% endblock %}