{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <h1>Accès interdit</h1>

        <h2>- Erreur 403 -</h2>
        

    </div>
    
{% endblock %}